
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
body{
    background: #fff;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: gray;  */
    align-items: center;
   position:absolute;
    background-color: whitesmoke;
    
    
}

.imagen{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items:center;
    
}
.inicio{
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 25px;
    border-radius: 200px;
    background: black;
    color: #fff;
    
}

.hoy{
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 25px;
    margin-left: 15px;
    border-radius: 200px;
    border: none;
}
.siguiendo{
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 25px;
    margin-left: 35px;
    border-radius: 200px; 
    border: none;
}


.buscar{
 flex: auto;
 align-items: center;
 height: 50px;
 display: flex;
 margin-left: 50px;
 background: gainsboro;
 border-radius: 400px;

 } 
 

 input{
    border: none;
    background-color: transparent;
    margin-left: 10px;
    outline: none;
    width: 100%;
    font-size: 18px;
 }

 .buscar i{
    width: 24px;
    height: 24px;
    margin-left: 10px;
 }

 .notificacion{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
   background-color: transparent;
   margin-left: 15px;
 }
 .notificacion i{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    
 }

 .notificacion:hover{
   background-color: gainsboro; 

 }

 .iconot{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    background-color:transparent;
    font-size: 15px;
 }
 .iconot:hover{
    background-color: gainsboro; 
 }

.notificacion a {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    text-decoration: none;
}


section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row; 
    height: 100%;
    width: 95%;
    padding: 100px; 
    overflow: scroll;
    margin-left: 5%; 
    position: sticky;
    

} 
/*  section article{
    background-color: white;
    margin: .5%;
    padding: .5%;
    height: 100%;
    
}  */

img{
    border-radius: 5%;
    background-color: transparent;
}

.wrapper-card {
    padding: 2rem;
    max-width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    justify-content: center;
    grid-template-rows: masonry;
  /*   border: 3px solid blue; */
    gap: 0.5rem;
    align-items: flex-start;

  }
  /* .main {
    width: 1200px;
    height: 1200px;
  }
  
  .wrapper-card {
    /* max-height: 100vh;
    height: auto; 
    margin: auto;
    height: 100%;
    width: 1200px;
    background-color: whitesmoke;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid blue; */
  
  /* metodologia para hacer la carta */
  .card {
    width: 236px;
    height: 450px;
    border-radius: 15px;
    margin: 2rem;
    position: relative;
  }
  
  .card img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
  }
  
  .card:hover::before {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .card:hover button {
    display: inline-flex;
  }
  
  .card:hover .lowermenu {
    display: flex;
  }
  
  .card:nth-child(3n) {
    height: 555px;
  }
  
  .card:nth-child(2n + 2) {
    height: 366px;
  }
  
  .card:nth-child(5n) {
    height: 400px;
  }
  
  /* menu superior de la carta */
  .menu-superior {
    position: absolute;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 25px;
    top: 15px;
    right: 10px;
    border-style: none;
    display: none;
  }
  
  /* menu inferior de la carta */
  
  .lowermenu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 10px;
    border-style: none;
    text-decoration: none;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
  }
  
  .lowermenu ion-icon {
    background-color: blueviolet;
    font-size: 20px;
    border-radius: 50%;
    padding: 8px;
  }
  
  .lowermenu button {
    padding: 10px;
    background-color: lightgray;
    text-decoration: none;
    border-radius: 15px;
    border-style: none;
  }
  
  .lowermenu button a {
    text-decoration: none;
    border-style: none;
    color: white;
  }
  
  @media only screen and (max-width: 800px) {
    nav {
      display: none;
    }
  }
