body{
background: -webkit-linear-gradient(left, rgb(182, 62, 182), rgb(39, 109, 175));
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content:space-around;
margin: 4%;
padding: 0;
}


.cuadro{
    display: flex;
    width: 40%;
    height: 100vh;
    background: #000;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
   
}
.cuerpo{
    display: flex;
    width: 98%;
    height: 90%;
    background: rgb(223, 202, 12);
    flex-direction: column;
    padding: 0;
    
}

.encabezado{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-around;

    
}
h1{
  font-size: 150px; 
  text-align: center;
  color: gray;
  

}
.boton1{
    font-size: 100px; 
    background: rgb(185, 168, 14);
    border-radius: 20px;
    padding: 50px;
    color: gray;
    border: 0;
    
}

.boton2{
    width: 200px;
    height: 180px;
    font-size: 100px; 
    background: rgb(185, 168, 14);
    border-radius: 20px;
    padding: 15px;
    border: 0;
    
}
.medio{
    display: flex;
    width: 100%;
    height: 70%;
    align-items: flex-start;
    background: #fff;
    flex-direction: column;
    overflow-y: scroll;
    

}

p{
  font-size: 100px;  
  margin: 40px;

}

img {
  float: left;
  height: 1000px;
  width: 1000px;
  margin: 15px;
}

.final {
 display: flex;
 justify-content: space-around;
 align-items: center;
 

}

.footer1{
  width: 25%;
  height: 100%;
  font-size: 85px;
  text-align: center;
  color: rgb(126, 114, 114);
  border: solid 1px grey;
  

}
.footer2{
    width: 25%;
    height: 100%;
    font-size: 85px;  
    text-align: center;
    color: rgb(126, 114, 114);
    border: solid 1px grey;
}
.footer3{
    width: 25%;
    height: 100%;
    font-size: 85px; 
    text-align: center;
    color: rgb(126, 114, 114);
    border: solid 1px grey;
}
.footer4{
    width: 25%;
    height: 100%;
    font-size: 85px;  
    text-align: center;
    color: rgb(126, 114, 114);
    border: solid 1px grey;
}

